@media (max-width: 1030px) {
    input {
        width: 25em;
    }
    .getDef {
        left: 90%;
    }
    #definition {
        width: 20em;
    }
}

@media (max-width: 780px) {
    input {
        width: 100%;
    }
    .getDef {
        left: 80.5%;
    }
    #next-dictionary-logo {
        width: 300px;
    }
    #definition {
        width: 13em;
        padding: .5em;
    }
    .title {
        /* background-color: beige; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 450px) {
    #definition {
        font-size: 1.5rem;
        width: 10em;
    }
}